.notesBox{
    width: 10rem;
    height: 8rem;
    border: 1px solid gray;
    overflow: scroll;
    border-radius: 5px;


    input{
        border: 1px solid gray;
        width: 1rem;
        height: 1rem;
        border-radius: 3px;
    }
}